{% for new in news %}
                            
    <article class="list_new">
        <div class="row">
            <div class="col-sm-6">
                <a href="detail/{{new.slug}}" class="thumb_article" title="{{new.title}}">
                    <img src="{{base_url()}}public/static/uploads/images/{{new.image}}" alt="">
                    
                </a>
            </div>
            <div class="col-sm-6">
                <div class="list_new_detail mt-2">
                    <time class="time">
                        <p class=""><span class="span_category"> <a href="{{base_url()}}category/{{new.slug_cat}}">{{new.name}}</a> </span> - {{ new.date_create|date("M j, Y") }}</p>
                    </time>
                    <h3 class="headline">
                        <a href="detail/{{new.slug}}" title="{{new.title}}">
                            {{new.title}}
                        </a>
                    </h3>
                    <div class="post_content">
                        <p>{{new.description| length > 100 ? new.description|slice(0, 100) ~ '...' : new.description}}</p>
                    </div>
                    <div class="read_more_detail float-right">
                        <a href="{{base_url()}}detail/{{new.slug}}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endfor %}
{{ link_pagi|raw }}